<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin">Dog Adpotation Site</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/addDog">Add new Dog</a>
          </li> 
          <li>
            <a class="nav-link" href="/addAdmin">Add new Admin User</a>
          </li>
          <li>
            <a class="nav-link" href="/adminLogout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
</nav>